/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variables */
:root {
  --highlight: #c4f82a;
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333;
  --white: #fff;
  --normal-font-weight: 400;
  --medium-font-weight: 600;
  --bold-font-weight: 700;
  --large-font-size: 1.5rem;
  --small-font-size: 0.875rem;
}

/* Main Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background-color: var(--grey-900);
  color: var(--white);
  min-height: 100vh;
}

@supports (min-height: 100svh) {
  body {
    min-height: 100svh;
  }
}

img {
  max-width: 100%;
  display: block;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@supports (min-height: 100svh) {
  .main-container {
    min-height: svh;
  }
}

.card {
  background-color: var(--grey-800);
  width: clamp(20.4375rem, 17.0382rem + 14.5038vw, 24rem);
  border-radius: 0.75rem;
  padding: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.avatar {
  width: 5.5rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  margin-inline: auto;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.user__name {
  font-size: var(--large-font-size);
  font-weight: var(--medium-font-weight);
}

.user__location {
  color: var(--highlight);
  font-size: var(--small-font-size);
  font-weight: var(--bold-font-weight);
}

.description {
  font-size: var(--small-font-size);
  font-weight: var(--normal-font-weight);
}

.site__list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site__link:link,
.site__link:visited {
  background-color: var(--grey-700);
  color: var(--white);
  font-size: var(--small-font-size);
  font-weight: var(--bold-font-weight);
  text-decoration: none;
  display: block;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.site__link:hover,
.site__link:focus {
  background-color: var(--highlight);
  color: var(--grey-900);
}

@media (prefers-reduced-motion: reduce) {
  .site__link:hover,
  .site__link:focus {
    transition: none;
  }
}
