@import 'tailwindcss';

@layer base {
  body {
    background-color: var(--color-gray-dark);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #root {
    display: contents;
  }
}

@theme {
  --color-gray-dark: #141414;
  --color-gray-medium: #1f1f1f;
  --color-gray-light: #333;
  --color-green: #c4f82a;
  --font-inter: 'Inter', sans-serif;
  --width-card-fluid: clamp(327px, 272.6107px + 14.5038vw, 384px);
}
